<mat-card *ngFor="let item of order.itemList" class="mat-typography po-mat-card">
    <mat-card-header class="po-mat-card-header">
        <mat-card-subtitle>
            <div fxFlex>
                ORDER PLACED {{order.createdAt|date}}
            </div>
            <div fxFlex>
                TOTAL {{order.orderTotal|currency}}
            </div>
            <div fxFlex>
                SHIP TO {{order.shippingAddress}}
            </div>
            <div fxFlex>
                ORDER # {{order.orderId}}
            </div>

        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <strong>
            Arriving {{order.deliveryDate|date:'EEEE' }} by {{order.deliveryDate|date:'h a' }}
        </strong>
        <div class="break"></div> <!-- break -->
        <div class="container">
            <div class="item">
                <img [src]="item.imgUrl" class="item-image" />
            </div>
            <div class="item-wide">
                <span>{{item.name}}</span>
                <span>{{item.itemTotal|currency}}</span>

            </div>
            <div class="item" fxShow="true" fxHide.lt-md="true">
                <button mat-raised-button color="accent"> Order Details </button></div>

            <div class="item" fxHide="true" fxShow.lt-md="true">
                <button mat-raised-button color="accent" aria-label="Order Detail">
                    <mat-icon>double_arrow</mat-icon>
                </button></div>
        </div>

    </mat-card-content>

</mat-card>