<mat-card class="mat-typography po-mat-card" fxShow="true" fxHide.lt-md="true">
    <mat-card-header class="po-mat-card-header">
        <mat-card-subtitle>
            <div class="po-item-header">
                <div class="po-item-header-a">
                    ORDER PLACED <br>
                    {{order.createdAt|date}}
                </div>
                <div>
                    TOTAL <br>
                    {{order.orderTotal|currency}}
                </div>
                <div>
                    SHIP TO <br>

                    {{order.shippingAddress}}
                </div>
                <div>
                    ORDER # <br>
                    {{order.orderId}}

                </div>
                <div class="po-item-header-e">
                    <button mat-raised-button color="accent">Order Details</button>
                </div>
            </div>
            <div class="po-item-header-row">
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="po-item-list">
            <div>
                <h3 class="po-header-text">
                    Arriving {{order.deliveryDate|date:'EEEE' }} by
                    {{order.deliveryDate|date:'h a' }}
                </h3>
            </div>
        </div>
        <div class="po-item-list" *ngFor="let item of order.itemList">
            <div class="po-item-list-a"> <img [src]="item.imgUrl" class="item-image" /></div>
            <div> {{item.name}}</div>
            <div class="po-item-list-c"> {{item.itemTotal|currency}}</div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card fxHide="true" fxShow.lt-md="true" *ngFor="let item of order.itemList">
    <mat-card-content>

        <div>
            <div>
                <h3 class="po-header-text">
                    Arriving {{order.deliveryDate|date:'EEEE' }} by
                    {{order.deliveryDate|date:'h a' }}
                </h3>
                <h3>
                    Shipped
                </h3>
            </div>
            <div> <img [src]="item.imgUrl" class="item-image" /></div>
            <mat-divider></mat-divider>
        </div>

    </mat-card-content>
</mat-card>